.stadtkreation-maps {
	height:480px;
	max-height:80vh;
}

.stadtkreation-maps.single,
.stadtkreation-maps.addpost  {
	display:block;
	height:300px;
}

.ol-control button:hover {
	opacity:.9;
}

body .stadtkreation-maps .layer-switcher label {
	display:inline;
	font-weight:normal;
	padding-left:6px;
}

body .stadtkreation-maps .layer-switcher {
	padding:0;
	margin:0;
	font-size:80%;
}

body .stadtkreation-maps .layer-switcher  ul {
	padding:5px !important;
	margin-left:0;
}

body .stadtkreation-maps .layer-switcher  ul ul{
	padding:0 !important;
	margin:0 !important;
}

body .stadtkreation-maps .layer-switcher li {
	list-style:none;
}

body .stadtkreation-maps .layer-switcher li.group  {
	padding:0;
	margin:0;
}

body .stadtkreation-maps .layer-switcher li.group label {
	display:none;
}

body .stadtkreation-maps .layer-switcher li.group li label {
	display:inline;
}

body .stadtkreation-maps .layer-switcher .panel {
	margin-bottom:0;
}

/* from bootstrap */

body .stadtkreation-maps .popup {
  position:absolute;
  bottom:40px;
  left:-126px;
  z-index:1 !important;
  width:250px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  padding:1px;
}

body .stadtkreation-maps .popup > .arrow,
body .stadtkreation-maps .popup > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
body .stadtkreation-maps .popup > .arrow {
  border-width: 11px;
  bottom: -10px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
body .stadtkreation-maps .popup > .arrow:after {
  content: "";
  border-width: 10px;
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}

body .stadtkreation-maps .popup h3 {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight:bold;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
  color:black;
  text-transform:uppercase;
}	

body .stadtkreation-maps .popup .title a {
	color:black;
	text-decoration:none;
	box-shadow:none;
	outline:none;
}

body .stadtkreation-maps .popup .content {
	font-size:90%;
	padding:12px 14px;
}

body .stadtkreation-maps .popup .content p {
	padding-bottom:6px;
	margin-bottom:0;
}

body .stadtkreation-maps .popup .content a {
	font-weight:normal;
	box-shadow:none;
}

body .stadtkreation-maps .popup .thumb-box {
}

body .stadtkreation-maps .popup .close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
body .stadtkreation-maps .popup .close:hover,
body .stadtkreation-maps .popup .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
body .stadtkreation-maps .popup button.close {
  -webkit-appearance: none;
  padding:3px 5px;
  display:block;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.ol-geosearch-form {
	bottom:2.5em;
	right:0.5em;
	text-align:right;
}

.ol-geosearch-form form.hidden {
	display:none;
}

.ol-geosearch-form  button {
	display:inline-block;
}

.ol-geosearch-form  button:after {
	display:block;
	content:"\f179";
	font-family:"dashicons";
}

.ol-geosearch-form input {
	display:inline !important;
}

.ol-taxonomy-selector {
  left:20px;
  bottom:20px;
}

.ol-taxonomy-selector .selectbuttons button {
	width:auto;
	font-weight:normal;
	padding:0 6px;
	display:inline-block;
	font-size:90%;
}
.ol-taxonomy-selector button.mobiletoggle {
	display:none;
}

@media screen and (max-width:640px) {
	.ol-taxonomy-selector {
		left: 0.5em;
	}
	.ol-taxonomy-selector  .selectbuttons {
		display:none;
	}
	.ol-taxonomy-selector  .selectbuttons button {
		display:block;
		width:250px;
	}
	.ol-taxonomy-selector button.mobiletoggle {
		display:block;
	}
}

.ol-taxonomy-selector button.off {
	opacity:.5;
}

.ol-taxonomy-selector button.mobiletoggle:after {
	font-family:dashicons;
	content: "\f333";
	display:inline-block;
	vertical-align:center;
}

.stadtkreation-maps.single .layer-switcher {
	top:0.5em;
}

/* settings map */
.stadtkreation-maps.settings-map {
	display:block;
	width:400px;
	max-width:100%;
	height:250px;
}

.stadtkreation-maps-map-number-box {
	background:white;
	border:1px solid black;
	border-radius:3px;
	padding:10px;
}

.stadtkreation-maps-map-number-selector {
	padding-bottom:0;
	margin-bottom:-1px;
	position:relative;
	z-index:1;
	margin-left:10px;
}

.stadtkreation-maps-map-number-selector a {
	display:inline-block;
	font-weight:bold;
	text-decoration:none;
	padding:3px;
	width:40px;
	text-align:center;
	font-size:16px;
	background:#dfdfdf;
	color:#999999;
	border:1px solid #999999;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}

.stadtkreation-maps-map-number-selector a.selected {
	color:black;
	background:white;
	border:1px solid black;
	border-bottom:none;
	padding-bottom:4px;
}

/* settings accordion */
.settings-accordion {
	padding-bottom:10px;
}
.settings-accordion  p {
	margin:0;
}
.settings-accordion p.text-before {
	background:#f0f0f0;
	padding:5px;
	text-transform:uppercase;
	font-size:95%;
	cursor:pointer;
	border:1px solid #808080;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom:1px solid #cccccc;
}
.settings-accordion p.text-before:before {
	font-family:dashicons;
	display:inline;
	content:"\f347";
	padding-right:10px;
	font-weight:bold;
}

.settings-accordion.open p.text-before:before {
	content:"\f343";
}

.settings-accordion-content {
	background:#f9f9f9;
	border:1px solid #cccccc;
	border-top:none;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	padding:10px;
}

/* drawing controls */ 

.drawing-controls-wrapper {
	padding:5px 8px;
	background:#f0f0f0;
	border-radius:3px;
	width:auto;
	margin:10px 0;
}
.drawing-controls-wrapper p {
	padding:0;
	margin:0;
}
	
